/* the css stuff */
.header {
  color: rgb(255, 221, 0);
  font-size: 3vh;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.bigdiv {
  background-color: #333;
}

.limargin {
  margin-bottom: 80px;
}
